@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fcff;
  --foreground: #171717;
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
